.env
# Environment variables

.dev.vars
# Cloudflare Workers
.wrangler/
dist/
# exclude the real wrangler.toml config
wrangler.toml 

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# node modules
node_modules/
